# IDE & OS specific
.DS_Store
.idea

# Logs
logs
*.log

# Dependencies
node_modules/

# Coverage
coverage
.nyc_output

# Generated docs
doc

# VIM swap files
*.sw*

# Flow
module.flow.js

# TypeScript
declarations

dist